* {
    margin: 0;
}

body {
    background-image: url('../assets/wallpaper1.jpg');
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #fafbfc;
}

header {
    background-color: blueviolet;
    padding: 10px;
    color: #fff;
    text-align: center;
    background: #82008244;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

header img {
    width: 250px;
}

#nav {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
    margin-right: 5px;
    margin-left: 5px;
    gap: 10px
}

#menu {
    display: flex;
    gap: 5px;
}

#dinamicText {
    display: flex;
    gap: 10px;
    justify-content: end;
}


a {
    color: #fafbfc;
    text-decoration: none;
    font-weight: bold;
    
}

a:hover {
    color: #ce8dcee3;
}

#navText {
    font-size: 1em;
}

#banner a{
 display: flex;
 justify-content: center;
 margin-top: 3%;
}

#banner img {
    border-radius: 4px;
    box-shadow: 5px 5px 14px black;
    width: 40%;
}

main {
    margin-top: 20px;
    text-align: center;
    padding: 30px 50px;
}
main h2 {
    color: #fff;
}

.card, .cardLogin {
    margin: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
    text-align: left;
    background: #82008244;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card {
    max-width: 40vw;
}

.cardLogin {
    max-width: 25vw;
}


.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.lineInput {
    display: grid;
    margin-bottom: 10px;
    color: #fff;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: 0;
}

button {
    border: 0px;
    padding: 10px;
    outline: 0;
    background-color: blueviolet;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    transition: all ease 0.3s;
}

button:hover {
    background-color: rgb(84, 25, 139);
}

.content, .contentRanking {
    margin-top: 15px;
}

.contentRanking {
    background: #82008244;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 10px solid rgba(31, 38, 135, 0.192);
}

#loading {
    background-image: url('../assets/loading.png');
    width: 250px;
    height: 250px;
}

table {
    background-color: #fff;
    margin: auto;
    width: 42vw;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

table th {
    background-color: #8a2be2;
    color: #fff;
}

table th, td {
    text-align: left;
    padding: 1px 5px;
}

table td img {
    width: 22px;
    padding: 3px;
}

.rankCodex tr:nth-child(1){
	background:#EFF545;
}
.rankCodex tr:nth-child(2){
	background:#EFF545;
}
.rankCodex tr:nth-child(3){
	background:#EFF545;
}
.rankLevel tr:nth-child(1){
	background:#EFF545;
}
.rankLevel tr:nth-child(2){
	background:#EFF545;
}
.rankLevel tr:nth-child(3){
	background:#EFF545;
}
.rankPower tr:nth-child(1){
	background:#EFF545;
}
.rankPower tr:nth-child(2){
	background:#EFF545;
}
.rankPower tr:nth-child(3){
	background:#EFF545;
}

.rankTable {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: top;
}

.rankCodex, .rankLevel, .rankPower {
    width: 18vw;
    
}


#null {
    display: none;
}

.center {
    text-align: center;
}

#msgError {
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

@media (max-width: 599px) {
.card, .cardLogin {
    max-width: 80vw;
}

table {
    width: 20px;
}

#nav {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    gap: 10px
}

#banner img{
    width: 90%;
}

}